/* Checkbox */
    input[type="checkbox"],
    input[type="radio"] {
        @include vendor('appearance', 'none');
        display: block;
        float: left;
        margin-right: -2em;
        opacity: 0;
        width: 1em;
        z-index: -1;

        & + label {
            @include icon(false, solid);
            cursor: pointer;
            display: inline-block;
            font-size: 1em;
            font-weight: _font(weight);
            padding-left: (_size(element-height) * 0.6) + 0.75em;
            padding-right: 0.75em;
            position: relative;

            &:before {
                border-radius: _size(border-radius);
                border: solid _size(border-width) _palette(fg);
                content: '';
                display: inline-block;
                font-size: 0.8em;
                height: (_size(element-height) * 0.75);
                left: 0;
                line-height: (_size(element-height) * 0.75);
                position: absolute;
                text-align: center;
                top: 0;
                width: (_size(element-height) * 0.75);
            }
        }

        &:checked + label {
            &:before {
                background: _palette(fg);
                border-color: _palette(fg);
                color: _palette(bg);
                content: '\f00c';
            }
        }

        &:focus + label {
            &:before {
                border-color: _palette(checkbox-accent);
                box-shadow: 0 0 0 _size(border-width) _palette(checkbox-accent);
            }
        }
    }

    input[type="checkbox"] {
        & + label {
            &:before {
                border-radius: _size(border-radius);
            }
        }
    }

    input[type="radio"] {
        & + label {
            &:before {
                border-radius: 100%;
            }
        }
    }