@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Basic */
@-ms-viewport {
  width: device-width; }
body {
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }
html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #0C151D; }
  body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

.login-page {
  height: 100%; }

.show {
  display: block !important; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c151d;
  width: 150px;
  overflow: auto;
  right: 0;
  z-index: 1;
  border-radius: 4px;
  max-height: 250px; }
  .dropdown-content.dropdown-active {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    z-index: 200; }

.dropdown-item {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #adb6b9 !important;
  cursor: pointer; }
  .dropdown-item:hover {
    color: #fff !important;
    background-color: #434f5b; }
  .dropdown-item-label {
    padding: 10px; }

.z-boost-200 {
  z-index: 200 !important; }

.nonscroll {
  overflow: hidden; }

/* Type */
body, input, select, textarea {
  color: #585858;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 1.75; }

a {
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
  color: #585858;
  border-bottom: dotted 1px rgba(88, 88, 88, 0.5); }
  a:hover {
    border-bottom-color: transparent;
    color: #f6f6f6 !important; }

strong, b {
  font-weight: 900; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2em 0; }

menu, ol, ul {
  list-style: none; }

h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em 0; }
  h1 a {
    color: inherit; }
  @media screen and (max-width: 736px) {
    h1 {
      font-size: 2em;
      margin: 0 0 1em 0; } }
  @media screen and (max-width: 360px) {
    h1 {
      font-size: 1.75em; } }

h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 2em 0; }
  h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit; }

h2 {
  font-size: 1.1em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 0.8em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.8em; }

@media screen and (max-width: 980px) {
  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none; } }
@media screen and (max-width: 736px) {
  h2 {
    font-size: 1em; }

  h3 {
    font-size: 0.8em; } }
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

blockquote {
  border-left: solid 4px #c9c9c9;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em; }

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px #c9c9c9;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0; }
  pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.no-border-btm {
  border-bottom: none !important; }

.footer-link {
  color: #78a6b8; }

.search {
  font-size: 14px; }

/* Home */
.home {
  position: relative;
  margin: 0 auto;
  max-width: 1752px;
  padding-left: 64px;
  padding-right: 64px; }
  .home-header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding-top: 16px; }
    .home-header-title {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      font-size: 30px !important;
      padding-bottom: 10px !important;
      font-weight: 900;
      color: #fff;
      line-height: 48px;
      padding: 8px 0;
      margin: 0; }
  .home a {
    color: #989998;
    cursor: pointer; }

/* Breakpoints */
@media screen and (max-width: 1280px) {
  .home {
    padding-left: 0;
    padding-right: 0; }
    .home-header {
      margin: 0 15px; } }
/* Titles */
.titles .movies-section {
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
  -ms-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  position: relative;
  padding-top: 32px;
  padding-bottom: 16px; }
  .titles .movies-section-title {
    text-transform: none;
    color: #d9e8ed;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700; }

.title-list-options {
  position: relative;
  margin: 10px 15px; }
  .title-list-options-box {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    font-size: 14px; }
    .title-list-options-box-options {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      text-align: right; }
      .title-list-options-box-options-sorting {
        margin-left: 20px;
        position: relative;
        z-index: 1; }
    .title-list-options-box .total-titles {
      color: #fff; }
.title-list-sorting-switcher-label {
  margin-right: 1px; }
.title-list-grid {
  display: -moz-grid;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -moz-grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  -webkit-grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  -ms-grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 15px;
  margin: 0 15px; }

.title-poster {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  -ms-transition: opacity .1s ease;
  transition: opacity .1s ease;
  position: relative;
  padding-top: 142.1686747%;
  overflow: hidden;
  border-radius: 5px; }
  .title-poster-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1; }
  .title-poster-ribbon {
    -moz-transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    transition: opacity .2s ease;
    position: absolute;
    cursor: pointer;
    z-index: 0;
    font-size: 50px;
    padding: 0 8px 8px 8px;
    top: -3%;
    left: 0;
    color: #fff;
    opacity: .3;
    width: 0.75em;
    height: 1em; }
    .title-poster-ribbon-active {
      opacity: 1;
      color: #fbc500; }
    .title-poster-ribbon:hover {
      opacity: .6; }

.search-page .title-list-grid {
  width: 72%;
  float: right; }

/* Breakpoints */
@media screen and (max-width: 1280px) {
  .titles .movies-section {
    margin: 0 15px; }

  .search-page .title-list-grid {
    width: auto;
    float: unset; } }
@media screen and (max-width: 980px) {
  .title-list-grid {
    -moz-grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    -webkit-grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    -ms-grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); } }
/* Sections-double */
.sections-double {
  display: -moz-grid;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid; }

/* Filters */
.filters-section {
  width: 24%;
  background-color: #ffffff;
  float: left;
  color: #989998; }

.filters-title {
  position: relative;
  text-transform: uppercase;
  padding: 14px 25px;
  background-color: #0a1118;
  font-weight: 800; }

/* Filter-sidebar*/
i.fa-filter {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  position: absolute;
  top: 50%;
  left: 3%;
  z-index: 3;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  box-shadow: none; }
  i.fa-filter:hover {
    color: #f6f6f6 !important; }

.fa-user {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em; }

.filter-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #0a1118;
  overflow-x: hidden;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px; }
  .filter-sidebar a.closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    border-bottom: none; }
  .filter-sidebar .circle-plus .circle .horizontal {
    background-color: #585858; }
    .filter-sidebar .circle-plus .circle .horizontal:hover {
      background-color: #000; }
  .filter-sidebar .circle-plus .circle .vertical {
    background-color: #585858; }
    .filter-sidebar .circle-plus .circle .vertical:hover {
      background-color: #000; }
  .filter-sidebar input[type="checkbox"] + label::before, .filter-sidebar input[type="radio"] + label::before {
    border: solid 1px #585858; }

/* Accodrion */
.accordion-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s; }

.panel {
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.4s ease-in-out;
  -webkit-transition: max-height 0.4s ease-in-out;
  -ms-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out; }

.accordion-header {
  cursor: pointer;
  position: relative; }
  .accordion-header .icon {
    position: absolute;
    right: 10%;
    top: 50%; }

.accordion-content {
  overflow: hidden;
  max-height: 1200px;
  -moz-transition: max-height .4s ease-in-out;
  -webkit-transition: max-height .4s ease-in-out;
  -ms-transition: max-height .4s ease-in-out;
  transition: max-height .4s ease-in-out;
  background-color: #070c13; }

.treeview {
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap; }
  .treeview .checkbox-section {
    padding: 18px 16px 15px 0px; }
  .treeview .list {
    list-style-type: none;
    padding: 0 0 0 24px; }
  .treeview .list-item {
    margin-bottom: 8px; }

/* Circle-plus button */
.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg); }
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1; }

.opened {
  opacity: 1; }
  .opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg); }
  .opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0; }

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #585858;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -0.55px; }

.circle-plus .circle .vertical {
  position: absolute;
  background-color: #585858;
  width: 2px;
  height: 20px;
  left: 50%;
  margin-left: -1.5px;
  top: 50%;
  margin-top: -10px; }

/* Search */
.search-header {
  margin-top: 20px; }

.controls {
  width: 72%;
  float: right;
  margin: 0 15px 2em 0; }
  .controls .search-btn {
    color: #585858;
    position: absolute;
    left: 3%;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -moz-transition: opacity,.25s ease-in-out;
    -webkit-transition: opacity,.25s ease-in-out;
    -ms-transition: opacity,.25s ease-in-out;
    transition: opacity,.25s ease-in-out;
    z-index: 3; }
  .controls button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none; }
  .controls a {
    text-decoration: none; }
  .controls .search-searched-count {
    font-weight: 800;
    line-height: 1;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 4%; }
  .controls .search-input {
    border: none;
    margin: 0;
    padding: 11px 18% 11px 8%; }

.search-container {
  padding: 0 0 0 2.5em; }

.search {
  position: relative;
  z-index: 0;
  width: inherit;
  background-color: #0a1118; }
  .search-page .search-container {
    padding: 0; }
  .search-page-section {
    padding-top: 16px !important; }
  .search-page-subtitle {
    margin-bottom: 35px; }

input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 600;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0; }

/* Breakpoints */
@media screen and (max-width: 1280px) {
  .filters-section {
    display: none; }

  i.fa-filter {
    display: inline; }

  .controls {
    width: auto;
    float: unset;
    margin: 0 15px 2em; }
    .controls .search-input {
      padding: 11px 18% 11px 9%; }
    .controls .search-btn {
      left: 6%; } }
@media screen and (max-width: 980px) {
  .controls .search-input {
    padding: 11px 24% 11px 12%; }
  .controls .search-btn {
    left: 8%; } }
@media screen and (max-width: 736px) {
  .controls .search-input {
    padding: 11px 24% 11px 13%; } }
@media screen and (max-width: 480px) {
  .controls .search-btn {
    left: 10%; }
  .controls .search-input {
    padding: 11px 27% 11px 17%; }

  .fitler-sidebar a {
    font-size: 18px; } }
/* Checkbox */
input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.55em;
    padding-right: 0.75em;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 4px;
      border: solid 1px #585858;
      content: '';
      display: inline-block;
      font-size: 0.8em;
      height: 2.25em;
      left: 0;
      line-height: 2.25em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 2.25em; }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: #585858;
    border-color: #585858;
    color: #0C151D;
    content: '\f00c'; }
  input[type="checkbox"]:focus + label:before,
  input[type="radio"]:focus + label:before {
    border-color: #989998;
    box-shadow: 0 0 0 1px #989998; }

input[type="checkbox"] + label:before {
  border-radius: 4px; }

input[type="radio"] + label:before {
  border-radius: 100%; }

/* Button */
.box-btn {
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -moz-transition: all 100ms cubic-bezier(0,0,.38,.9);
  -webkit-transition: all 100ms cubic-bezier(0,0,.38,.9);
  -ms-transition: all 100ms cubic-bezier(0,0,.38,.9);
  transition: all 100ms cubic-bezier(0,0,.38,.9);
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.125rem;
  cursor: pointer;
  vertical-align: top;
  min-height: 3rem;
  padding: calc(.875rem - 3px) 60px calc(.875rem - 3px) 12px;
  border-radius: 0;
  text-align: left;
  text-decoration: none;
  outline: 1px solid transparent;
  outline-offset: -4px;
  position: relative;
  max-width: 20rem; }
  .box-btn:hover {
    background-color: #5e6b76; }
  .box-btn-primary {
    background-color: #0f62fe;
    border: 3px solid transparent;
    color: #fff; }
    .box-btn-primary:hover {
      background-color: #0353e9; }
    .box-btn-primary:focus {
      border-color: #0f62fe;
      outline-color: #fff; }
    .box-btn-primary:active {
      background-color: #002d9c; }
.box-form-item {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  align-items: flex-start;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.125rem; }
  .box-form-item.box-text-input-wrapper {
    position: relative; }
  .box-form-item input[type="checkbox"] + label {
    padding-left: 26px; }
    .box-form-item input[type="checkbox"] + label:before {
      border-radius: 1px;
      border: solid 1px #161616;
      height: 1rem;
      width: 1rem;
      line-height: 1.45em;
      font-size: 0.7em;
      top: 14%; }
  .box-form-item input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: #161616; }
  .box-form-item input[type="checkbox"]:focus + label:before {
    box-shadow: none; }
.box-text-input {
  -moz-transition: background-color 100ms cubic-bezier(.2,0,.38,.9), outline 100ms cubic-bezier(.2,0,.38,.9);
  -webkit-transition: background-color 100ms cubic-bezier(.2,0,.38,.9), outline 100ms cubic-bezier(.2,0,.38,.9);
  -ms-transition: background-color 100ms cubic-bezier(.2,0,.38,.9), outline 100ms cubic-bezier(.2,0,.38,.9);
  transition: background-color 100ms cubic-bezier(.2,0,.38,.9), outline 100ms cubic-bezier(.2,0,.38,.9);
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.125rem;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: #f4f4f4;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  color: #161616;
  border: none;
  border-bottom: 1px solid, #8d8d8d; }
  .box-text-input:active, .box-text-input:focus {
    outline: 2px solid #0f62fe;
    outline-offset: -2px; }
  .box-text-input-field-wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    position: relative; }
.box-label {
  letter-spacing: 0.32px;
  font-weight: 900;
  line-height: 1rem;
  color: #393939;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: .5rem; }
.box-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap; }
  .box-checkbox-label {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-size: 0.875rem;
    font-weight: 900;
    letter-spacing: 0.32px;
    line-height: 1.5em;
    position: relative;
    cursor: pointer;
    padding-left: 1.625rem;
    min-height: 1.5rem;
    user-select: none; }
    .box-checkbox-label::after, .box-checkbox-label::before {
      box-sizing: border-box; }

/* Small-menu */
.small-menu {
  height: 0;
  width: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #000046;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .small-menu a.closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    border-bottom: none; }
  .small-menu-body {
    overflow-y: hidden; }

.menu-list {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  font-family: "Lato", Arial, sans-serif;
  width: 440px;
  height: 100vh;
  padding-left: 95px; }
  .menu-list-item {
    -moz-transition: all,.25s ease-in-out;
    -webkit-transition: all,.25s ease-in-out;
    -ms-transition: all,.25s ease-in-out;
    transition: all,.25s ease-in-out;
    position: relative;
    font-weight: 900;
    font-size: 24px;
    min-width: 340px;
    text-transform: uppercase;
    color: #f6f6f6; }
    .menu-list-item a {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center; }
    .menu-list-item .key {
      cursor: pointer;
      color: #010b4f;
      display: inline-block;
      min-width: 45px; }
    .menu-list-item .title {
      -moz-transition: all,.25s ease-in-out;
      -webkit-transition: all,.25s ease-in-out;
      -ms-transition: all,.25s ease-in-out;
      transition: all,.25s ease-in-out;
      position: relative;
      margin: 10px 0;
      display: inline-block;
      cursor: pointer; }
      .menu-list-item .title:hover::after {
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        width: 100%; }
      .menu-list-item .title::after {
        -moz-transition: scaleX,.25s ease-in-out;
        -webkit-transition: scaleX,.25s ease-in-out;
        -ms-transition: scaleX,.25s ease-in-out;
        transition: scaleX,.25s ease-in-out;
        -moz-transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -moz-transform-origin: left;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        border-bottom: 2px solid #f6f6f6; }
  .menu-list-opened {
    opacity: 1;
    visibility: visible; }

/* Breakpoints */
@media screen and (max-width: 736px) {
  .menu-list {
    padding-left: 50px; } }
@media screen and (max-width: 480px) {
  .menu-list {
    width: 250px;
    padding-left: 20px; }
    .menu-list-item {
      font-size: 20px;
      min-width: 270px; } }
/* Watchlist */
.watchlist-options {
  margin: 20px 15px; }

.title-list-card {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }
  .title-list-card .col-xs-6 + div {
    text-align: initial; }
.title-card {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 20px;
  border-radius: 5px; }
  .title-card-content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    overflow: hidden;
    padding: 15px 20px 0;
    background: rgba(76, 90, 103, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    .title-card-content-title a {
      font-size: 19px;
      color: #78a6b8; }
    .title-card-content-description {
      height: 70px;
      opacity: .3;
      margin-top: 10px;
      margin-bottom: 0;
      display: block;
      position: relative;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0;
      font-size: 16px;
      color: #bebebe; }
      .title-card-content-description::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        height: 20px;
        width: 25%;
        background: linear-gradient(90deg, rgba(25, 35, 43, 0), #19232b 75%); }
    .title-card-content-bottom {
      position: absolute;
      width: calc(100% - 30px);
      bottom: 0; }
      .title-card-content-bottom-heading {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        white-space: nowrap;
        margin-top: 10px;
        margin-bottom: 5px; }
        .title-card-content-bottom-heading-label {
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 0; }
        .title-card-content-bottom-heading-values {
          white-space: nowrap; }
  .title-card-muted {
    font-size: 16px;
    color: #bebebe; }
  .title-card-rating {
    display: inline-block; }
    .title-card-rating-no-link {
      pointer-events: none; }
    .title-card-rating img {
      width: 20px;
      margin-right: 3px; }

.col-xs-4 {
  width: 33.33333%; }
.col-xs-8 {
  width: 66.66667%; }

.no-radius-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.watch-now-btn {
  margin: 0;
  border-width: 1px;
  box-shadow: none;
  text-transform: none;
  letter-spacing: .4px;
  height: 36px;
  font-size: 14px;
  font-weight: 500; }

.btn-native {
  -moz-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background: #4c5a67;
  color: #fff;
  border-radius: 4px;
  border-style: initial;
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%; }
  .btn-native:hover {
    background: #5e6b76; }
.btn-inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.detail-info-subheading {
  color: #4c5a67;
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 16px; }

/* Breakpoints */
@media screen and (max-width: 980px) {
  .title-list-card {
    padding-left: 0;
    padding-right: 0; }
    .title-list-card .col-xs-6 {
      width: 100%; } }
@media screen and (max-width: 480px) {
  .title-card-content-description {
    height: 0; }
  .title-card-content-bottom {
    width: calc(100% - 20px); } }
/* Title-page */
.backdrops-directive {
  position: relative;
  z-index: 0;
  margin-bottom: -85px;
  max-height: 450px;
  padding-top: 450px; }

.slide {
  max-height: 450px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow: hidden;
  padding: 0; }
  .slide img {
    width: 100%; }

.info-box {
  color: #d5d5d5;
  font-size: 14px;
  border-top: 1px solid #222930;
  background: linear-gradient(#0C151D 190px, transparent);
  position: relative;
  z-index: 1;
  min-height: 700px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding: 0 25px;
  padding-top: 25px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px; }
  .info-box-container {
    margin-left: -15px;
    margin-right: -15px; }
  .info-box a {
    color: #78a6b8 !important;
    cursor: pointer; }

.col-sm-8 {
  width: 66.66667%; }
.col-sm-4 {
  width: 33.33333%; }
.col-sm-push-4 {
  left: 33.33333%; }
.col-sm-pull-8 {
  right: 66.66667%; }

.title-block > h1 {
  margin-top: 0;
  font-size: 28px;
  line-height: 1.2;
  color: #fff; }
.title-block .text-muted {
  font-size: 20px;
  color: #bebebe;
  text-shadow: 0 1px 0 #000; }
.title-credits {
  margin-bottom: 15px;
  padding-bottom: 5px; }
  .title-credits-actor {
    display: inline-block;
    margin-left: 15px; }
    .title-credits-actor:first-child {
      margin-left: 0; }
    .title-credits-actor-role {
      white-space: nowrap;
      width: 100px;
      overflow: hidden; }

.detail-infos-subheading {
  color: #4c5a67;
  font-weight: 700 !important;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 16px; }
  .detail-infos-subheading.label {
    width: 120px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis; }
.detail-infos-detail-values {
  display: table-cell; }

.clearfix {
  clear: both;
  content: " "; }

.hidden-horizontal-scrollbar {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  overflow: hidden;
  position: relative; }
  .hidden-horizontal-scrollbar-items {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
    scrollbar-width: none;
    margin-top: -5px;
    bottom: -5px; }
    .hidden-horizontal-scrollbar-items > * {
      flex: 0 0 auto; }

.text-wrap-pre-line {
  font-size: 16px;
  line-height: 1.5;
  color: #bebebe; }

.no-radius-btm {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.quick-action-bar {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  border-top: 1px solid #222930;
  background: #222930;
  margin-bottom: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .quick-action-bar-group {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
  .quick-action-bar.quick-action-bar-full-width {
    background: none; }
    .quick-action-bar.quick-action-bar-full-width .quick-action-bar-group {
      margin-left: -10px;
      margin-right: -10px; }
  .quick-action-bar.quick-action-bar-no-border-top {
    border-top: none; }

.fa-rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em; }
  .svg-inline--fa.fa-w-12 {
    width: 0.75em; }

.ribbon-large {
  top: -1%;
  padding: 0 6px 8px 8px; }

.basic-btn {
  height: 39px;
  width: 45px;
  border-radius: 4px;
  margin: 0;
  background-color: inherit;
  color: #d9e8ed;
  border: none;
  cursor: pointer; }
  .basic-btn:hover {
    background-color: rgba(246, 246, 246, 0.05); }
  .basic-btn-content {
    font-size: 14px; }
    .basic-btn-content.yellow {
      color: #fbc500; }
  .basic-btn.watch-now {
    width: 101px; }
    .basic-btn.watch-now:hover {
      background-color: rgba(251, 197, 0, 0.05); }

.hidden-bar {
  display: none; }
  .hidden-bar > div {
    margin-top: 15px;
    margin-bottom: 10px; }

/* Breakpoints */
@media screen and (min-width: 981px) {
  .backdrops-directive::after {
    display: block;
    content: "";
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, transparent, #0C151D);
    bottom: 0;
    position: absolute;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 10px; } }
@media screen and (max-width: 980px) {
  .backdrops-directive {
    max-height: 350px;
    padding-top: 350px; }

  .quick-action-bar.quick-action-bar-wide {
    display: none; }

  .hidden-bar {
    display: block; } }
@media screen and (max-width: 736px) {
  .backdrops-directive {
    max-height: 300px;
    padding-top: 300px; }

  .col-sm-8 {
    float: unset;
    width: 100%; }
  .col-sm-4 {
    float: unset;
    width: 0; }
  .col-sm-push-4 {
    float: unset;
    left: unset; }
  .col-sm-pull-8 {
    float: unset;
    right: unset; }

  .info-box {
    padding: 0 15px;
    padding-top: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0; } }
@media screen and (max-width: 480px) {
  .backdrops-directive {
    max-height: 150px;
    padding-top: 150px; }

  .info-box {
    margin-top: 26%; } }
/* Login */
.login-app-container {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 !important; }
  .login-app-container .splash-container {
    -moz-flex: 50%;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #112239;
    background: linear-gradient(180deg, #112239 31%, #1d3d67 100%); }
    .login-app-container .splash-container-btm {
      display: none; }
  .login-app-container .splash-panel {
    margin: auto;
    margin-left: 90px;
    color: #fff;
    line-height: 1.5em; }
    .login-app-container .splash-panel-pretitle {
      font-size: 1.8em;
      font-weight: 100;
      line-height: 1.2em; }
    .login-app-container .splash-panel-title {
      font-size: 5em;
      line-height: normal;
      font-weight: 700;
      margin-left: -5px; }
    .login-app-container .splash-panel-subtitle {
      margin-top: 40px;
      font-size: 1.8em;
      max-width: 500px;
      line-height: normal; }
    .login-app-container .splash-panel-signup-btn {
      color: #fff;
      border: 1px solid #fff;
      margin-top: 30px !important; }
  .login-app-container .splash-footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    margin: 0 90px 30px;
    font-size: .75em;
    color: #fff; }
    .login-app-container .splash-footer-links-title {
      margin-bottom: 10px; }
    .login-app-container .splash-footer-social-media-block img {
      height: 14px;
      margin-right: 10px; }
  .login-app-container .one-alt {
    font-size: 3.25em;
    margin-bottom: 10px; }
.login-container {
  -moz-flex: 50%;
  -webkit-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #fff; }
.login-wrapper {
  margin: auto;
  padding: 20px; }
.login-form {
  width: 500px;
  margin: 30px 0;
  color: #161616; }
  .login-form-title {
    font-size: 1.65em; }
    .login-form-title span {
      font-weight: 700;
      margin-left: 2px;
      margin-right: 2px; }
  .login-form-subtitle {
    font-size: 1em; }
  .login-form-user-id-row {
    margin-top: 20px;
    margin-bottom: 5px;
    min-height: 95px; }
    .login-form-user-id-row .box-form-item {
      overflow: hidden;
      min-height: 41px; }
    .login-form-user-id-row label {
      font-size: 18px; }
  .login-form-user-id {
    background-color: #f4f7fb;
    border-bottom: 1px solid #5a6872; }
  .login-form .box-checkbox-wrapper {
    margin-top: 5px;
    margin-bottom: 1rem; }
  .login-form-login-btn-wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
  .login-form-login-btn {
    margin-top: .4rem;
    width: auto !important; }

.forgot-links {
  margin-top: 10px;
  font-size: .9em; }
  .forgot-links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #0062ff;
    font-size: 12.6px;
    line-height: 12.6px; }
    .forgot-links a:hover, .forgot-links a:focus, .forgot-links a:active {
      color: #0062ff !important; }

.copyright-clause {
  font-size: .688em;
  font-weight: 200;
  padding-bottom: 45px; }

/* Breakpoints */
@media screen and (max-width: 1280px) {
  .login-form {
    width: 350px; }
    .login-form-title {
      font-size: 1.3em; }
    .login-form-subtitle {
      font-size: 1em; }

  .splash-container .splash-panel-pretitle {
    font-size: 1.6em;
    font-weight: 100; }
  .splash-container .splash-panel-title {
    font-size: 3.25em; }
  .splash-container .splash-panel-subtitle {
    font-size: 1.05em;
    max-width: 300px; } }
@media screen and (max-width: 736px) {
  .login-app-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 !important; }
  .login-wrapper {
    padding: 0 !important; }
  .login-container {
    flex: 100%; }
    .login-container .copyright-clause {
      display: none; }

  .splash-container, .splash-container-btm {
    display: block !important; }
  .splash-container .splash-panel {
    margin: 50px 20px; }
    .splash-container .splash-panel-title {
      margin-bottom: 10px; }
    .splash-container .splash-panel-signup-btn {
      margin-top: 15px !important; }
  .splash-container-top .splash-panel-subtitle {
    display: none; }
  .splash-container-top .splash-panel-signup-btn {
    display: none; }
  .splash-container-top .splash-footer {
    display: none; }
  .splash-container-btm .splash-footer {
    margin: 20px; }
  .splash-container-btm .copyright-clause {
    display: block;
    color: #fff;
    margin-left: 20px; } }
/* Profile-dropdown */
.page-dropped {
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  display: none;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .4;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  contain: strict;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 100; }

.profile-dropdown {
  left: 71.5%;
  top: 46px; }

.small-profile-dropdown {
  left: initial; }

/* Header */
.header {
  background: #0c151d;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 3; }
  .header .navbar {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    height: inherit;
    width: inherit; }
    .header .navbar-container {
      height: 60px;
      padding-left: 64px;
      padding-right: 64px; }
    .header .navbar-small-left {
      display: none;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      position: absolute;
      top: 5%;
      left: 0; }
    .header .navbar-small-right {
      display: none;
      position: absolute;
      top: 3%;
      right: 0; }
      .header .navbar-small-right > * {
        width: 46px; }
    .header .navbar-btn {
      height: 56px;
      cursor: pointer; }
      .header .navbar-btn-link {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-transition: color 0.2s ease;
        -webkit-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
        transition: color 0.2s ease;
        height: 100%;
        white-space: nowrap;
        color: #989998; }
      .header .navbar-btn-watchlist {
        display: none;
        position: absolute;
        top: 0;
        right: 60px;
        height: 100%; }
      .header .navbar-btn > div {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        height: 100%;
        padding: 0 15px;
        font-size: 16px; }
    .header .navbar .bookmark {
      height: 1em; }
    .header .navbar-toggle-container {
      border-left: 1px solid transparent;
      padding: 20px; }
    .header .navbar-toggle-btn {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -moz-align-items: -moz-flex-end;
      -webkit-align-items: -webkit-flex-end;
      -ms-align-items: -ms-flex-end;
      align-items: flex-end;
      -moz-justify-content: space-between;
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      width: 16px;
      height: 14px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 0; }
      .header .navbar-toggle-btn span {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        height: 2px;
        width: 16px;
        background-color: #989998; }
        .header .navbar-toggle-btn span:nth-child(2), .header .navbar-toggle-btn span:nth-child(3) {
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          top: 50%; }
        .header .navbar-toggle-btn span:last-child {
          width: 12px; }
      .header .navbar-toggle-btn.active span {
        -moz-transition: rotate,.25s ease-in-out;
        -webkit-transition: rotate,.25s ease-in-out;
        -ms-transition: rotate,.25s ease-in-out;
        transition: rotate,.25s ease-in-out; }
        .header .navbar-toggle-btn.active span:first-child {
          width: 0; }
        .header .navbar-toggle-btn.active span:nth-child(2) {
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 6px; }
        .header .navbar-toggle-btn.active span:nth-child(3) {
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 6px; }
        .header .navbar-toggle-btn.active span:nth-child(4) {
          width: 0; }
      .header .navbar-toggle-btn:hover span {
        -moz-transition: background-color 0.2s ease;
        -webkit-transition: background-color 0.2s ease;
        -ms-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        background-color: #f6f6f6; }
  .header img {
    display: block;
    width: 3em;
    height: 3em; }
  .header .logo {
    display: flex;
    padding-right: 15px; }
    .header .logo > * {
      display: inherit;
      align-items: center; }
  .header .title {
    font-family: "Audiowide", cursive;
    color: #f6f6f6; }
  .header .menu {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    overflow: auto; }
    .header .menu > * {
      display: inherit;
      align-items: inherit; }
  .header .menu-btn {
    -moz-flex-grow: inherit;
    -webkit-flex-grow: inherit;
    -ms-flex-grow: inherit;
    flex-grow: inherit;
    height: 60px;
    cursor: pointer;
    padding-right: 3%; }
    .header .menu-btn:last-child {
      padding-right: 0; }
  .header .menu-btn-link {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #989998; }
  .header .menu-btn-item {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-weight: 400;
    margin: 0 10px; }
  .header .logout-btn {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 60px; }
    .header .logout-btn button {
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      appearance: none;
      -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      font-family: "Lato", sans-serif;
      cursor: pointer;
      border-radius: 4px;
      background-color: #222930;
      color: #fff;
      height: 60%;
      border: none;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .header .logout-btn button:hover {
        background-color: #2b3541; }
      .header .logout-btn button:active {
        background-color: #565c5c; }

/* Breakpoints */
@media screen and (max-width: 1280px) {
  .header .menu {
    display: none; }
  .header .navbar {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    .header .navbar-container {
      padding-left: 0;
      padding-right: 0; }
    .header .navbar-small-left, .header .navbar-small-right {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex; }
    .header .navbar-btn-watchlist {
      display: block; }
  .header .logo {
    padding-right: 0; } }
/* Row */
.row {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px; }

.search-page {
  margin-left: 0.5%;
  margin-right: 1.5%; }

/* Breakpoints */
@media screen and (max-width: 1280px) {
  .search-page {
    margin-left: -15px;
    margin-right: -15px; } }
/* Main */
.main {
  position: relative;
  padding-top: 60px; }

/* Footer */
.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  font-size: 14px;
  color: #d5d5d5; }
  .container h5 {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2; }

.col-xs-4, .col-xs-6, .col-xs-8, .col-xs-12, .col-sm-8, .col-sm-push-4, .col-sm-4, .col-pull-8 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-6 {
  width: 50%; }
  .col-xs-6 + div {
    text-align: right; }
    .col-xs-6 + div > span {
      color: #4c5a67; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #222930;
  height: 1px;
  box-sizing: content-box; }

.col-xs-12 {
  width: 16.66667%;
  margin-bottom: 80px; }

.col-md-offset-1 {
  margin-left: 8.33333%; }

.list-unstyled {
  list-style: none;
  padding-left: 0; }
  .list-unstyled > li {
    margin-bottom: .5em; }

/* Breakpoints */
@media screen and (max-width: 1280px) {
  .container {
    width: 970px; }

  .col-md-offset-1 {
    margin-left: 0; }

  .col-xs-12 {
    width: 50%; } }
@media screen and (max-width: 980px) {
  .container {
    width: 730px; }

  .col-xs-12 {
    width: 100%; } }
@media screen and (max-width: 736px) {
  .container {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
